.header {
  position: relative;
  color: $c-chocolate;

  &__logo {

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__checkbox {
    display: none;
  }

  &__togglerNav {
    position: absolute;
    right: $mobPadding;
    z-index: 1;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-image: url(../images/burger.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.4s;

    @media(min-width: 768px) {
      display: none;
    }
  }

  &__checkbox:checked ~ &__wrapper > &__togglerNav {
    background-image: url(../images/close.png);
  }

  &__wrapper {
    max-width: $maxWidthContent;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__number {
    @media (min-width: 768px) {
      position: absolute;
      top: calc(50% - 374px / 2);
      right: 35px;
      z-index: 1;
    }
  }

  &__title {
    width: 60%;
    font-family: "Cookie", cursive;
    font-weight: normal;
    font-size: 100px;
    line-height: 80%;

    @media (min-width: 768px) {
      padding-top: 150px;
    }

    @media (min-width: 1200px) {
      padding-top: 100px;
      font-size: 160px;
      line-height: 177px;
    }
  }

  &__paragraph {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 150%;

    @media (min-width: 768px) {
      font-size: 26px;
    }
  }

  &__button {
    width: 160px;
    height: 45px;
    font-size: 16px;
    line-height: 41px;
  }

  &__nav {
    position: absolute;
    top: -100vh;
    right: 0;
    width: 60%;
    height: 100vh;
    padding: 85px 20px;
    background-color: $c-croissant;
    font-size: 16px;
    line-height: 150%;
    color: $c-chocolate;
    transition: transform 0.6s;

    @media (min-width: 768px) {
      top: 0;
      right: 0;
      width: 30%;
    }
  }

  &__checkbox:checked ~ &__wrapper > &__nav {
    transform: translateY(100vh);
  }

  &__tel {
    position: relative;
    width: 100px;
    height: 30px;
    text-decoration: none;
    font-size: 16px;
    color: $c-chocolate;

    &::before {
      position: absolute;
      bottom: - 30px;
      left: 0;
      content: "+38 066 336 36 36";
      display: block;
      min-width: 143px;

      @media (min-width: 768px) {
        left: auto;
        right: 0;
      }

      @media (min-width: 992px) {
        top: 0;
        right: 110px;
      }
    }
  }
}
