.page {
  font-family: "Rubik", sans-serif;

  &__header {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/mob-background.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-height: 567px) {
      height: 200vh;
    }

    @media (min-width: 600px) {
      background-image: url(../images/bake-cream-puff-cup-1775045.png);
    }
  }

  .page__footer {
    width: 100vw;
    height: 100vh;
    background-color: $c-chocolate;

    @media (min-width: 768px) {
      height: 157px;
    }

    @media (max-height: 567px) {
      height: 150vh;
    }
  }
}
