.desktop-nav {
  display: none;
  max-width: 1400px;
  margin: 0 auto;

  @media (min-width: 768px) {
    display: flex;
    position: absolute;
    top: 0;
    left: $mobPadding;
    right: $mobPadding;
    height: 78px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    display: flex;

    @media (min-width: 992px) {
      padding-top: 21px;
    }
  }

  &__lang {
    margin-left: 20px;
  }
}
